*
  margin: 0
  padding: 0
  border: 0
  font-weight: normal
  vertical-align: baseline
  box-sizing: border-box;
  body, html
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: #CDC6B4
    .font_ligen
      font-family: iconfont, sans-serif !important
      font-style: normal
      //color red
